
<!-- header starts here -->
<mat-toolbar color="primary" class="example-toolbar">
    
    <p class="logo"> <img class="img-responsive" src="assets/images/logo.PNG" width =180 alt="Logo" ></p>
    <a  routerLink="/user/register"> <button  class="btn btn-pharma  pl-3 pr-3 mat-button float-right mr-2 mt-2" >SIGNUP</button></a>
    <a  routerLink="/user/login"><button  class="btn btn-pharma pl-3 pr-3 mat-button float-right mr-2 mt-2" > LOGIN</button></a>
</mat-toolbar>
<!-- header ends here -->
<mat-sidenav-container class="example-sidenav-container" 
[style.marginTop.px]="mobileQuery.matches ? 56 : 6">
  <!---side nave starts here -->
  <mat-sidenav #snav  fixedTopGap="56"></mat-sidenav>  
  <!---side nave ends here -->
  <!---side nave content starts here -->
  <mat-sidenav-content class="pb-5" [style.minHeight.vh]=85>
    <!-- Body content starts here -->
    <div class="p-4">
      <div class="mt-3 ">
          <mat-card class="col-sm-12 col-md-4 float-right">
            
              <span class="text-center mb-5"><h5>Forgot password?</h5></span>
              <!-- Send OTP Email/Phone-->
              <div *ngIf="sendpswd">
                  
                <div class="f-size-12">
                  <div>
                      <mat-radio-button value="1" (click)="sendemail()" [checked]="true">Email</mat-radio-button>

                  </div>
                  <div>
                      <mat-radio-button value="2" (click)="sendtext()">Text Message(sms)</mat-radio-button>
                  </div>
                  <div>{{forgettext}}</div>
                  <!-- Send Email-->
                  <!-- <form  role="form" [formGroup]="complexForm" (ngSubmit)="complexForm(complexForm.value)"> -->
                  <div *ngIf="semail">
                    <app-sentemail [estatus]=EmailStatus (sendEmail)="sendEmailHandler($event)"></app-sentemail>
                  </div>
              
                  <!-- Send Email Ends Here-->
                  <!-- Send Text Message-->
                  <div *ngIf="stext">
                    <app-senttext [tstatus]=TextStatus (sendText)="sendTextHandler($event)"></app-senttext>
          
                  <!-- Send Text Message Ends Here-->
                  </div>
                </div>
              </div>
                <!-- Send OTP Email/Phone Ends Here-->
                <!-- </form> -->

                <!--Login With OTP-->
                <div *ngIf="successfullysent">
                    

                  <div class="f-size-12">   
                    <div [style.paddingLeft.px]=15>
                      <p>OTP Sent Successfully <img src="assets/images/Tick mark green.png" width="18"></p>

                    </div>
                    <!-- Send Email-->
                    <div *ngIf="EmailStatus">
                      <app-emailotp></app-emailotp>
                    </div>
                    <!-- Send Email Ends Here-->
                    <!-- Send Text Message-->
                    <div *ngIf="TextStatus">
                      <app-textotp></app-textotp>
                    </div>
                    <!-- Send Text Message Ends Here-->
                  </div>
                </div>
                <!--Login With OTP Ends Here-->
                <!-- </form> -->
              
          </mat-card>
      </div>
    </div>
    <!-- Body content Ends here -->
  </mat-sidenav-content>  
  <!---side nave content ends here -->
</mat-sidenav-container>
    
