<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
   
  <router-outlet ></router-outlet>


  <footer  class="row" >
    <div class="col footer"> 
      <div class="float-left"> <p class="no-margin"> ©  Get Set Care | Powered By: Get Set Healthy Pvt. Ltd.</p></div>
        <div class="">
          <div class="social-icons ">
              <ul>
              <li><fa name="facebook" ></fa></li>
              <li><fa name="twitter" ></fa></li>
              <li><fa name="google-plus" ></fa></li>
              <li><fa name="youtube" ></fa></li>
            </ul>
          </div>
        </div>
      </div>      
    </footer>
</div>
         